body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    height: 50dvh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.writing-box {
    width: 100%;
    height: 80%;
    resize: none;
    font-size: 20px;
    font-family: sans-serif;
}
